In [1]:
import pandas as pd
import os

df = pd.read_csv("T1_unzip_list.csv")
print(df)

               sample_id
0      1008508_20252_2_0
1      1008559_20252_2_0
2      1555288_20252_2_0
3      1555181_20252_2_0
4      1554907_20252_2_0
...                  ...
22387  1553074_20252_2_0
22388  1553502_20252_2_0
22389  1553860_20252_2_0
22390  1554618_20252_2_0
22391  1554692_20252_2_0

[22392 rows x 1 columns]

In [2]:
items = df.values

In [3]:
print(items)
print(items.shape)

[['1008508_20252_2_0']
 ['1008559_20252_2_0']
 ['1555288_20252_2_0']
 ...
 ['1553860_20252_2_0']
 ['1554618_20252_2_0']
 ['1554692_20252_2_0']]
(22392, 1)

In [4]:
count = 0
remove_list = []
for i, item in enumerate(items):
    path = "/red/ruogu.fang/UKB/Brain/20252_T1_NIFTI/T1_unzip/" + item + "/T1.nii.gz"
    path = path.item()
    if (os.path.isfile(path) == False):
#         print(item)
        count += 1
        remove_list.append(item.item())

print(df.shape)
print(count)

# print(remove_list)
df.loc[df['sample_id'].isin(remove_list)]

(22392, 1)
1033

               sample_id
0      1008508_20252_2_0
1      1008559_20252_2_0
2      1555288_20252_2_0
3      1555181_20252_2_0
4      1554907_20252_2_0
...                  ...
22319  1635161_20252_2_0
22344  1640208_20252_2_0
22370  1645388_20252_2_0
22375  1646471_20252_2_0
22391  1554692_20252_2_0

[1033 rows x 1 columns]

In [5]:
new_df = df.drop(df.loc[df['sample_id'].isin(remove_list)].index)

In [6]:
print("---")

---

In [7]:
df.loc[df['sample_id'].isin(remove_list)]

               sample_id
0      1008508_20252_2_0
1      1008559_20252_2_0
2      1555288_20252_2_0
3      1555181_20252_2_0
4      1554907_20252_2_0
...                  ...
22319  1635161_20252_2_0
22344  1640208_20252_2_0
22370  1645388_20252_2_0
22375  1646471_20252_2_0
22391  1554692_20252_2_0

[1033 rows x 1 columns]

In [8]:
new_df.loc[new_df['sample_id'].isin(remove_list)]

Empty DataFrame
Columns: [sample_id]
Index: []

In [9]:
new_df

               sample_id
27     1552110_20252_2_0
28     1552639_20252_2_0
29     1552640_20252_2_0
30     1554064_20252_2_0
35     1647972_20252_2_0
...                  ...
22386  1552606_20252_2_0
22387  1553074_20252_2_0
22388  1553502_20252_2_0
22389  1553860_20252_2_0
22390  1554618_20252_2_0

[21359 rows x 1 columns]

In [10]:
items2 = df.values
count = 0
for i, item in enumerate(items2):
    path = "/red/ruogu.fang/UKB/Brain/20252_T1_NIFTI/T1_unzip/" + item + "/T1.nii.gz"
    path = path.item()
    if (os.path.isfile(path) == False):
#         print(path)
        count += 1

print(count)

1033

In [12]:
new_df.to_csv('T1_unzip_reduced_list.csv')